.importation {
  background-color:  #fff6bc;;
  margin-top: 20px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
}

.title {
    text-align: center;
}

.import-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.import-buttons button {
  margin: 3px;
  padding: 5px;
  align-self: center;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.import-buttons button:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
}

.import-buttons button:active {
  transform: scale(0.97);
}